ruamel.yaml
kaggle
feather-format
jupyter_contrib_nbextensions
kaggle-cli
ipywidgets
jupyter_contrib_nbextensions
jupyterlab_github
nbgitpuller
assert-exists
caller-module
chardet
click
conf
decorator
docker
docker-pycreds
docopt
fullpath
getclass
gitconfig
gitconfigparser
gitdb
idna
isclassmethod
isstaticmethod
isstring
nbconvert
objectname
ordereddict
public
py3
requests
six
smmap
tolist
urllib3
validators
websocket-client
git+https://github.com/grading/gradememaybe.git
git+https://github.com/CarmeLabs/carme.git
twitter
